DATABASE_URL=mysql+pymysql://root:Ganesh%40123@localhost:3306/Railway
SECRET_KEY=super-secret-key-for-development
MAIL_USERNAME=chsiddu2002@gmail.com
MAIL_PASSWORD=****
MAIL_FROM=chsiddu2002@gmail.com
MAIL_PORT=465
MAIL_SERVER=smtp.gmail.com
